/* Вимикаємо стрілки у числових полях для Firefox */
/*input[type="number"] {
  z-index: 10;
}*/

/* Вимикаємо стрілки у числових полях для Edge */
/*input[type="number"]::-ms-clear,
input[type="number"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
  z-index: 10;
}
input{z-index: 10;}
.gjs-input-holder {
  display: block;
  width: 25px;
  padding: 0;
  background-color: transparent;
  z-index: 10; /* Установка z-index */
/*}*/

/*.gjs-input-holder input {
  width: 14px;
  padding: 5px;
  z-index: 10; /* Установка z-index */
/*}*/

/* Інші стилі не потребують змін для z-index */

/*.gjs-sm-sector .gjs-sm-property:nth-child(1) .gjs-input-holder,
.gjs-sm-sector .gjs-sm-property:nth-child(3) .gjs-input-holder,
.gjs-sm-sector .gjs-sm-property:nth-child(6) .gjs-input-holder,
.gjs-sm-sector .gjs-sm-property:nth-child(8) .gjs-input-holder,
.gjs-sm-sector .gjs-sm-property:nth-child(2) .gjs-input-holder,
.gjs-sm-sector .gjs-sm-property:nth-child(4) .gjs-input-holder,
.gjs-sm-sector .gjs-sm-property:nth-child(7) .gjs-input-holder {
  z-index: 12; /* Установка z-index для всіх input holders */
/*}*/
/*.gjs-field-arrow-u, .gjs-field-arrow-d{
  z-index: 11;
}
.gjs-pn-views-container{
  width: 270px;
}
.gjs-sm-properties {
  width: 270px;
  height: 140px;
  position: relative;
  top: 0;
  left: 0;
}
.gjs-sm-properties::before{
  position: absolute;
  top: 5px;
  left: 5px;
  content: "MARGIN";
  font-size: 8px;
  color: #AAAAAA;
  font-family: "Arial";
  z-index: 10;
}

.gjs-sm-properties::after{
  position: absolute;
  top: 30px;
  left: 45px;
  content: "PADDING";
  font-size: 8px;
  color: #AAAAAA;
  font-family: "Arial";
  z-index: 10;
}

.gjs-field-units {
  display: none;
}*/
/*-----стрілки------*/
/*.gjs-field{
  position: relative;
  top: 0;
  left: 0;
}
.gjs-field:nth-child(1) .gjs-input-holder{
  z-index: 4;
}
.gjs-field:nth-child(1) .gjs-field-arrows {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: rotate(90deg);
}
.gjs-field:nth-child(1) .gjs-field-arrows .gjs-field-arrow-u{
  position: relative;
  top: -60px;
  transform: scale(3.5);
  height: 10px;
}
.gjs-field:nth-child(1) .gjs-field-arrows .gjs-field-arrow-d{
  position: relative;
  top: 50px;
  transform: scale(3.5);
  height: 10px;
}*/
/* Ліва частина для зменшення значення */
/*.gjs-field-arrows::before {
  content: '';
  flex: 1;
  height: 100%;
  cursor: pointer;
}
*/
/* Права частина для збільшення значення */
/*.gjs-field-arrows::after {
  content: '';
  flex: 1;
  height: 100%;
  cursor: pointer;
}

.gjs-sm-label {
  display: none;
}

.gjs-input-holder {
  display: block;
  width: 25px;
  padding: 0;
  background-color: transparent;
}

.gjs-input-holder input {
  width: 100%;
  padding: 5px;
  color: black;
}

.gjs-field {
  width: 100%;
}

.gjs-field-integer {
  background-color: transparent;
}

.gjs-input-holder {
  margin: 0 auto;
}

.gjs-sm-property {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
}
.gjs-sm-sector{
}
.gjs-sm-properties {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  width: 270px;
  height: 140px;
  border: 2px solid #DFEAF2;
  background-color: #fff;
  display: grid;
  
  align-items: stretch; /* Розтягування елементів по висоті */
/*grid-template-columns: 36px 36px 1fr 36px 36px;
grid-template-rows: 24px 24px 1fr 24px 24px;
}

.gjs-sm-sector .gjs-sm-property {
  width: 100%; /* Робимо інпут шириною на всю колонку */
  /*z-index: 3;
  box-sizing: border-box; /* Враховує padding і border у розмірах */
/*}*/

/* Верхній Margin (центрований) */
/*.gjs-sm-sector .gjs-sm-property:nth-child(1) {
  grid-column: 1 / 6; /* Займає всю ширину */
  /*grid-row: 1 / 2;
  height: 30px;
  background-color: transparent;
  z-index: 1;
}

.gjs-sm-sector .gjs-sm-property:nth-child(1)::before {
  content: "";
  width: 3px;
  height: 60px;
  background-color: #DFEAF2;
  transform: rotate(-55deg);
  position: absolute;
  top: -22px;
  left: 10px;
}

.gjs-sm-sector .gjs-sm-property:nth-child(1)::after {
  content: "";
  width: 3px;
  height: 50px;
  background-color: #DFEAF2;
  transform: rotate(55deg);
  position: absolute;
  top: -12px;
  right: 20px;
}
/* Верхній Padding (центрований) */
/*.gjs-sm-sector .gjs-sm-property:nth-child(5) {
  grid-column: 3 / 4; 
  grid-row: 2 / 3;
  height: 30px;
  background-color: #F4F5F9;
  border-top: 3px solid #DFEAF2; /
  position: relative;
  top: 0;
  left: 0;
}
.gjs-sm-property:nth-child(5) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-u{
  position: relative;
  top: -25px;
  transform: scale(2);
  height: 10px;
  left: 0;
}
.gjs-sm-property:nth-child(5) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-d{
  position: relative;
  top: 20px;
  transform: scale(2);
  height: 10px;
  left: 0;
}*/
/* Ліва частина для зменшення значення */
/*.gjs-field-arrows::before {
  content: '';
  flex: 1;
  height: 100%;
  cursor: pointer;
}
*/
/* Середні інпути */
/*.gjs-sm-sector .gjs-sm-property:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  height: auto; 
}

.gjs-sm-sector .gjs-sm-property:nth-child(3) .gjs-fields {
  position: relative;
  height: 100%;
}

.gjs-sm-sector .gjs-sm-property:nth-child(3) .gjs-fields .gjs-field .gjs-input-holder {
  margin-top: 100%;
}

.gjs-sm-sector .gjs-sm-property:nth-child(3) .gjs-input-holder {
  position: relative;
  top: 30px;
  left: 0;
  z-index: 4;
}
.gjs-sm-property:nth-child(3) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-u{
  position: relative;
  top: 6.5px;
  height: 10px;
  left: -35px;
  transform: rotate(-90deg) scale(2);
}
.gjs-sm-property:nth-child(3) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-d{
  position: relative;
  top: -6.5px;
  height: 10px;
  left: 40px;
  transform: rotate(-90deg) scale(2);
}*/
/*-----------------------*/
/*.gjs-sm-sector .gjs-sm-property:nth-child(8) {
  grid-column: 2 / 3; 
  grid-row: 2 / 5;
  height: 100%;
  border: 3px solid #DFEAF2; 
  border-right: none;
  background-color: #F4F5F9;
}
.gjs-sm-sector .gjs-sm-property:nth-child(8) .gjs-fields, .gjs-sm-sector .gjs-sm-property:nth-child(2) .gjs-fields{
  position: relative;
  top: 20px;
}
.gjs-sm-sector .gjs-sm-property:nth-child(8) .gjs-fields{
  position: relative;
  top: 15px;
  left: 5px;
}
.gjs-sm-sector .gjs-sm-property:nth-child(8) .gjs-input-holder {
  position: relative;
  top: 0;
  left: -10px;
  z-index: 4;
  margin: auto auto;
}

.gjs-input-holder:nth-child(8) {
  margin-right: 20px;
}
.gjs-sm-sector .gjs-sm-property:nth-child(8) .gjs-input-holder {
  position: relative;
  top: 14px;
  left: -7.5px;
  z-index: 4;
}
.gjs-sm-property:nth-child(8) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-u{
  position: relative;
  top: 20px;
  height: 5px;
  left: -25px;
  width :100%;
  transform: rotate(-90deg) scale(1.5);
}
.gjs-sm-property:nth-child(8) .gjs-fields .gjs-field .gjs-input-holder{
  position: relative;
  left: -3px;
}
.gjs-sm-property:nth-child(8) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-d{
  position: relative;
  top: 0;
  height: 5px;
  left: 17px;
   width :100%;
  transform: rotate(-90deg) scale(1.5);
}*/
/*-------------------------*/
/*.gjs-sm-sector .gjs-sm-property:nth-child(2) {
  grid-column: 4 / 5; 
  grid-row: 2 / 5;
  height: 100%; 
  border: 3px solid #DFEAF2;
  border-left: none;
  background-color: #F4F5F9;
}
.gjs-sm-sector .gjs-sm-property:nth-child(2) .gjs-input-holder {
  position: relative;
  top: 14px;
  left: 0;
  z-index: 4;
}

.gjs-sm-sector .gjs-sm-property:nth-child(2) .gjs-fields, .gjs-sm-sector .gjs-sm-property:nth-child(2) .gjs-fields{
  position: relative;
  top: 20px;
}
.gjs-sm-sector .gjs-sm-property:nth-child(2) .gjs-fields{
  position: relative;
  top: 15px;
  left: -5px;
}
.gjs-sm-sector .gjs-sm-property:nth-child(2) .gjs-fields .gjs-field-arrows{
  position: relative;
  top: -22.5px;
  left: 10px;
}
.gjs-sm-property:nth-child(2) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-u{
  position: relative;
  top: 8px;
  height: 5px;
  left: -20px;
  width: 100%;
  transform: rotate(-90deg) scale(1.5);
}
.gjs-sm-property:nth-child(2) .gjs-fields .gjs-field .gjs-input-holder{
  position: relative;
  left: 7.5px;
}
.gjs-sm-property:nth-child(2) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-d{
  position: relative;
  top: 0;
  height: 5px;
  left: 15px;
  width: 100%;
  transform: rotate(-90deg) scale(1.5);
}*/
/*------------------*/
/*.gjs-sm-sector .gjs-sm-property:nth-child(6) {
  grid-column: 5 / 6; 
  grid-row: 1 / 6;
  margin-left: 0;
  height: auto; 
}

.gjs-sm-sector .gjs-sm-property:nth-child(6) .gjs-fields {
  position: relative;
  height: 100%;
}

.gjs-sm-sector .gjs-sm-property:nth-child(6) .gjs-fields .gjs-field .gjs-input-holder {
  margin-top: 100%;
}
.gjs-sm-sector .gjs-sm-property:nth-child(6) .gjs-input-holder {
  position: relative;
  top: 30px;
  left: 0;
  z-index: 4;
}
.gjs-sm-property:nth-child(6) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-u{
  position: relative;
  top: 6.5px;
  height: 10px;
  left: -35px;
  transform: rotate(-90deg) scale(2);
}
.gjs-sm-property:nth-child(6) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-d{
  position: relative;
  top: -6.5px;
  height: 10px;
  left: 40px;
  transform: rotate(-90deg) scale(2);
}*/
/* Нижній Margin (центрований) */
/*.gjs-sm-sector .gjs-sm-property:nth-child(7) {
  grid-column: 3 / 4; 
  grid-row: 4 / 5;
  height: 30px;
  border-bottom: 3px solid #DFEAF2;
  position: relative;
  top: -6px;
  background-color: #F4F5F9;
}
.gjs-sm-sector .gjs-sm-property:nth-child(7) .gjs-input-holder {
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
}
.gjs-sm-property:nth-child(7) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-u{
  position: relative;
  top: -25px;
  transform: scale(2);
  height: 10px;
  left: 0;
}
.gjs-sm-property:nth-child(7) .gjs-fields .gjs-field .gjs-field-arrows .gjs-field-arrow-d{
  position: relative;
  top: 20px;
  transform: scale(2);
  height: 10px;
  left: 0;
}*/
/* Нижній Padding (центрований) */
/*.gjs-field:nth-child(4) .gjs-field-arrows {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: rotate(90deg);
}
.gjs-field:nth-child(4) .gjs-field-arrows .gjs-field-arrow-u{
  position: relative;
  top: -60px;
  transform: scale(3.5);
  height: 10px;
}
.gjs-field:nth-child(4) .gjs-field-arrows .gjs-field-arrow-d{
  position: relative;
  top: 50px;
  transform: scale(3.5);
  height: 10px;
}
.gjs-sm-sector .gjs-sm-property:nth-child(4) {
  grid-column: 1 / 6; 
  grid-row: 5 / 6;
  height: 30px;
  z-index: 1;
}

.gjs-sm-sector .gjs-sm-property:nth-child(4) .gjs-input-holder {
  position: relative;
  top: 0;
  left: 0;
  z-index: 4;
}
.gjs-sm-sector .gjs-sm-property:nth-child(4)::before {
  content: "";
  width: 3px;
  height: 60px;
  background-color: #DFEAF2;
  transform: rotate(55deg);
  position: absolute;
  top: -15px;
  left: 10px;
}

.gjs-sm-sector .gjs-sm-property:nth-child(4)::after {
  content: "";
  width: 3px;
  height: 50px;
  background-color: #DFEAF2;
  transform: rotate(-55deg);
  position: absolute;
  top: -14px;
  right: 16px;
}
*/
/*-------------------------------робочі стилі-----------------------------*/
*,::after,::before{box-sizing:border-box}*{margin:0;padding:0}ul{list-style:none;margin:0;padding:0}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}a{cursor:pointer;text-decoration:none;color:inherit}img,picture{max-width:100%;display:block;user-select:none}button,input,select,textarea{font:inherit}input:focus-visible,textarea:focus-visible{outline:0}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}button{outline:0;border:none;outline-offset:0}.justify-center{justify-content:center!important}.align-center{align-items:center!important}.row-reverse{flex-direction:row-reverse}.no-scroll{overflow-y:hidden}.d--none{display:none!important}.d--flex{display:flex}.d-from--sm{display:none!important}@media only screen and (min-width:576px){.d-from--sm{display:block!important}}.d-from--md{display:none!important}@media only screen and (min-width:768px){.d-from--md{display:block!important}}.d-from--lg{display:none!important}@media only screen and (min-width:992px){.d-from--lg{display:block!important}}.d-from--xl{display:none!important}@media only screen and (min-width:1200px){.d-from--xl{display:block!important}}.d-from--xxl{display:none!important}@media only screen and (min-width:1400px){.d-from--xxl{display:block!important}}@media only screen and (min-width:576px){.d-to--sm{display:none!important}}@media only screen and (min-width:768px){.d-to--md{display:none!important}}@media only screen and (min-width:992px){.d-to--lg{display:none!important}}@media only screen and (min-width:1200px){.d-to--xl{display:none!important}}@media only screen and (min-width:1400px){.d-to--xxl{display:none!important}}@font-face{font-family:Quicksand;src:url(../fonts/Quicksand-Regular.woff2) format("woff2");font-weight:400;font-display:swap}@font-face{font-family:Quicksand;src:url(../fonts/Quicksand-Semibold.woff2) format("woff2");font-weight:600;font-display:swap}@font-face{font-family:Quicksand;src:url(../fonts/Quicksand-Bold.woff2) format("woff2");font-weight:700;font-display:swap}@font-face{font-family:Poppins;src:url(../fonts/Poppins-Regular.woff2) format("woff2");font-weight:400;font-display:swap}@font-face{font-family:Poppins;src:url(../fonts/Poppins-Semibold.woff2) format("woff2");font-weight:600;font-display:swap}@font-face{font-family:Poppins;src:url(../fonts/Poppins-Bold.woff2) format("woff2");
    font-weight:700;font-display:swap}html{scroll-behavior:smooth}body{background-color:#f8fafc;font-family:Quicksand;font-style:normal;color:#0c0f30}.btn{display:inline-flex;align-items:center;justify-content:center;padding:14px 42px;border-radius:6px;font-size:16px;font-weight:400;white-space:nowrap;gap:15px;cursor:pointer;font-family:Poppins;letter-spacing:.5px}.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{--bs-gutter-x:20px;--bs-gutter-y:0;width:100%;max-width:1400px;padding:0 15px;margin-right:auto;margin-left:auto;height:100%}@media (min-width:576px){.container-fluid{padding:0 15px}}@media (min-width:768px){.container,.container-md,.container-sm{max-width:720px}}@media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:960px}.container-fluid{padding:0 40px}}@media (min-width:1200px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1140px}}@media (min-width:1400px){.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:1360px}}.row{display:flex;flex-wrap:wrap}.row>*{box-sizing:border-box;flex-shrink:0;width:100%;max-width:100%}.row>div[class^=col-]{padding:0 10px}.col{flex:1 0 0%}.col-1{flex:0 0 auto;width:8.33333333%}.col-2{flex:0 0 auto;width:16.66666667%}.col-3{flex:0 0 auto;width:25%}.col-4{flex:0 0 auto;width:33.33333333%}.col-5{flex:0 0 auto;width:41.66666667%}.col-6{flex:0 0 auto;width:50%}.col-7{flex:0 0 auto;width:58.33333333%}.col-8{flex:0 0 auto;width:66.66666667%}.col-9{flex:0 0 auto;width:75%}.col-10{flex:0 0 auto;width:83.33333333%}.col-11{flex:0 0 auto;width:91.66666667%}.col-12{flex:0 0 auto;width:100%}.offset-1{margin-left:8.33333333%}.offset-2{margin-left:16.66666667%}.offset-3{margin-left:25%}.offset-4{margin-left:33.33333333%}.offset-5{margin-left:41.66666667%}.offset-6{margin-left:50%}.offset-7{margin-left:58.33333333%}.offset-8{margin-left:66.66666667%}.offset-9{margin-left:75%}.offset-10{margin-left:83.33333333%}.offset-11{margin-left:91.66666667%}@media (min-width:576px){.col-sm{flex:1 0 0%}.col-sm-1{flex:0 0 auto;width:8.33333333%}.col-sm-2{flex:0 0 auto;width:16.66666667%}.col-sm-3{flex:0 0 auto;width:25%}.col-sm-4{flex:0 0 auto;width:33.33333333%}.col-sm-5{flex:0 0 auto;width:41.66666667%}.col-sm-6{flex:0 0 auto;width:50%}.col-sm-7{flex:0 0 auto;width:58.33333333%}.col-sm-8{flex:0 0 auto;width:66.66666667%}.col-sm-9{flex:0 0 auto;width:75%}.col-sm-10{flex:0 0 auto;width:83.33333333%}.col-sm-11{flex:0 0 auto;width:91.66666667%}.col-sm-12{flex:0 0 auto;width:100%}.offset-sm-0{margin-left:0}.offset-sm-1{margin-left:8.33333333%}.offset-sm-2{margin-left:16.66666667%}.offset-sm-3{margin-left:25%}.offset-sm-4{margin-left:33.33333333%}.offset-sm-5{margin-left:41.66666667%}.offset-sm-6{margin-left:50%}.offset-sm-7{margin-left:58.33333333%}.offset-sm-8{margin-left:66.66666667%}.offset-sm-9{margin-left:75%}.offset-sm-10{margin-left:83.33333333%}.offset-sm-11{margin-left:91.66666667%}}@media (min-width:768px){.col-md{flex:1 0 0%}.col-md-auto{flex:0 0 auto;width:auto}.col-md-1{flex:0 0 auto;width:8.33333333%}.col-md-2{flex:0 0 auto;width:16.66666667%}.col-md-3{flex:0 0 auto;width:25%}.col-md-4{flex:0 0 auto;width:33.33333333%}.col-md-5{flex:0 0 auto;width:41.66666667%}.col-md-6{flex:0 0 auto;width:50%}.col-md-7{flex:0 0 auto;width:58.33333333%}.col-md-8{flex:0 0 auto;width:66.66666667%}.col-md-9{flex:0 0 auto;width:75%}.col-md-10{flex:0 0 auto;width:83.33333333%}.col-md-11{flex:0 0 auto;width:91.66666667%}.col-md-12{flex:0 0 auto;width:100%}.offset-md-0{margin-left:0}.offset-md-1{margin-left:8.33333333%}.offset-md-2{margin-left:16.66666667%}.offset-md-3{margin-left:25%}.offset-md-4{margin-left:33.33333333%}.offset-md-5{margin-left:41.66666667%}.offset-md-6{margin-left:50%}.offset-md-7{margin-left:58.33333333%}.offset-md-8{margin-left:66.66666667%}.offset-md-9{margin-left:75%}.offset-md-10{margin-left:83.33333333%}.offset-md-11{margin-left:91.66666667%}}@media (min-width:992px){.col-lg{flex:1 0 0%}.col-lg-auto{flex:0 0 auto;width:auto}.col-lg-1{flex:0 0 auto;width:8.33333333%}.col-lg-2{flex:0 0 auto;width:16.66666667%}.col-lg-3{flex:0 0 auto;width:25%}.col-lg-4{flex:0 0 auto;width:33.33333333%}.col-lg-5{flex:0 0 auto;width:41.66666667%}.col-lg-6{flex:0 0 auto;width:50%}.col-lg-7{flex:0 0 auto;width:58.33333333%}.col-lg-8{flex:0 0 auto;width:66.66666667%}.col-lg-9{flex:0 0 auto;width:75%}.col-lg-10{flex:0 0 auto;width:83.33333333%}.col-lg-11{flex:0 0 auto;width:91.66666667%}.col-lg-12{flex:0 0 auto;width:100%}.offset-lg-0{margin-left:0}.offset-lg-1{margin-left:8.33333333%}.offset-lg-2{margin-left:16.66666667%}.offset-lg-3{margin-left:25%}.offset-lg-4{margin-left:33.33333333%}.offset-lg-5{margin-left:41.66666667%}.offset-lg-6{margin-left:50%}.offset-lg-7{margin-left:58.33333333%}.offset-lg-8{margin-left:66.66666667%}.offset-lg-9{margin-left:75%}.offset-lg-10{margin-left:83.33333333%}.offset-lg-11{margin-left:91.66666667%}}@media (min-width:1200px){.col-xl{flex:1 0 0%}.col-xl-auto{flex:0 0 auto;width:auto}.col-xl-1{flex:0 0 auto;width:8.33333333%}.col-xl-2{flex:0 0 auto;width:16.66666667%}.col-xl-3{flex:0 0 auto;width:25%}.col-xl-4{flex:0 0 auto;width:33.33333333%}.col-xl-5{flex:0 0 auto;width:41.66666667%}.col-xl-6{flex:0 0 auto;width:50%}.col-xl-7{flex:0 0 auto;width:58.33333333%}.col-xl-8{flex:0 0 auto;width:66.66666667%}.col-xl-9{flex:0 0 auto;width:75%}.col-xl-10{flex:0 0 auto;width:83.33333333%}.col-xl-11{flex:0 0 auto;width:91.66666667%}.col-xl-12{flex:0 0 auto;width:100%}.offset-xl-0{margin-left:0}.offset-xl-1{margin-left:8.33333333%}.offset-xl-2{margin-left:16.66666667%}.offset-xl-3{margin-left:25%}.offset-xl-4{margin-left:33.33333333%}.offset-xl-5{margin-left:41.66666667%}.offset-xl-6{margin-left:50%}.offset-xl-7{margin-left:58.33333333%}.offset-xl-8{margin-left:66.66666667%}.offset-xl-9{margin-left:75%}.offset-xl-10{margin-left:83.33333333%}.offset-xl-11{margin-left:91.66666667%}}@media (min-width:1400px){.col-xxl{flex:1 0 0%}.col-xxl-auto{flex:0 0 auto;width:auto}.col-xxl-1{flex:0 0 auto;width:8.33333333%}.col-xxl-2{flex:0 0 auto;width:16.66666667%}.col-xxl-3{flex:0 0 auto;width:25%}.col-xxl-4{flex:0 0 auto;width:33.33333333%}.col-xxl-5{flex:0 0 auto;width:41.66666667%}.col-xxl-6{flex:0 0 auto;width:50%}.col-xxl-7{flex:0 0 auto;width:58.33333333%}.col-xxl-8{flex:0 0 auto;width:66.66666667%}.col-xxl-9{flex:0 0 auto;width:75%}.col-xxl-10{flex:0 0 auto;width:83.33333333%}.col-xxl-11{flex:0 0 auto;width:91.66666667%}.col-xxl-12{flex:0 0 auto;width:100%}.offset-xxl-0{margin-left:0}.offset-xxl-1{margin-left:8.33333333%}.offset-xxl-2{margin-left:16.66666667%}.offset-xxl-3{margin-left:25%}.offset-xxl-4{margin-left:33.33333333%}.offset-xxl-5{margin-left:41.66666667%}.offset-xxl-6{margin-left:50%}.offset-xxl-7{margin-left:58.33333333%}.offset-xxl-8{margin-left:66.66666667%}.offset-xxl-9{margin-left:75%}.offset-xxl-10{margin-left:83.33333333%}.offset-xxl-11{margin-left:91.66666667%}}@media (min-width:1400px){.col-xxxl{flex:1 0 0%}.col-xxxl-auto{flex:0 0 auto;width:auto}.col-xxxl-1{flex:0 0 auto;width:8.33333333%}.col-xxxl-2{flex:0 0 auto;width:16.66666667%}.col-xxxl-3{flex:0 0 auto;width:25%}.col-xxxl-4{flex:0 0 auto;width:33.33333333%}.col-xxxl-5{flex:0 0 auto;width:41.66666667%}.col-xxxl-6{flex:0 0 auto;width:50%}.col-xxxl-7{flex:0 0 auto;width:58.33333333%}.col-xxxl-8{flex:0 0 auto;width:66.66666667%
}.col-xxxl-9{flex:0 0 auto;width:75%}.col-xxxl-10{flex:0 0 auto;width:83.33333333%}.col-xxxl-11{flex:0 0 auto;width:91.66666667%}.col-xxxl-12{flex:0 0 auto;width:100%}.offset-xxxl-0{margin-left:0}.offset-xxxl-1{margin-left:8.33333333%}.offset-xxxl-2{margin-left:16.66666667%}.offset-xxxl-3{margin-left:25%}.offset-xxxl-4{margin-left:33.33333333%}.offset-xxxl-5{margin-left:41.66666667%}.offset-xxxl-6{margin-left:50%}.offset-xxxl-7{margin-left:58.33333333%}.offset-xxxl-8{margin-left:66.66666667%}.offset-xxxl-9{margin-left:75%}.offset-xxxl-10{margin-left:83.33333333%}.offset-xxxl-11{margin-left:91.66666667%}}:root{--gjs-primary-color:#ebebeb;--gjs-secondary-color:#0f0f0f;--gjs-secondary-dark-color:#f9fafb}.gjs-cv-canvas{position:relative;top:0;width:100%!important;height:100%}.gjs-cv-canvas-bg{background-color:unset}.gjs-frames{position:relative;height:100%}.gjs-frame-wrapper{position:relative;left:unset;right:unset}.gjs-pn-panel{position:relative;padding:0}.gjs-pn-btn{display:flex;justify-content:center;align-items:center;min-width:unset;min-height:unset;margin-right:0;padding:0;background-color:unset;border-radius:unset;font-size:unset;line-height:unset}.gjs-pn-btn.gjs-pn-active{pointer-events:none}.gjs-pn-btn:last-child{margin-right:0}.gjs-pn-btn img{pointer-events:none}body{height:100vh;width:100vw;overflow:hidden;display:grid;grid-template-columns:305px 1fr;grid-template-rows:auto 1fr}body.fullscreen-mode{display:flex}body.fullscreen-mode .header{display:none}body.fullscreen-mode .sidebar{display:none}body.fullscreen-mode .gjs-frame-wrapper{padding:0}body.fullscreen-mode .proposal__view-exit-fullscreeen{display:flex!important}header{grid-column:1/3}main{overflow-y:auto;width:100%}.sidebar{width:100%;overflow:auto}.sidebar__settings-area__inner{height:100%;overflow-y:scroll}.gjs-frame body{height:auto;width:100%;display:block}.btn{display:inline-flex;align-items:center;justify-content:center;padding:14px 42px;border-radius:6px;font-size:16px;font-weight:400;white-space:nowrap;gap:10px;cursor:pointer;font-family:Poppins;line-height:100%}.btn--primary{color:#fff;background-color:#2d79ff;transition:background-color .2s}.btn--primary:hover{background-color:#2666d8}.btn--header{height:35px;gap:10px;padding:12px 14px;font-size:12px;text-transform:uppercase}.btn--header img{width:14px;height:14px}.sidebar{display:flex;height:100%}.sidebar__tools{flex-shrink:0;width:55px;height:100%;background:#272727;color:#fff}.sidebar__tools .gjs-pn-buttons{flex-direction:column;margin-top:5px}.sidebar__tools .gjs-pn-btn{display:flex;justify-content:center;align-items:center;width:40px;height:40px;margin-bottom:5px;border-radius:4px}.sidebar__tools .gjs-pn-btn.gjs-pn-active{background:#3d3d3d}.sidebar__tools .gjs-pn-btn img{width:18px}.sidebar__settings-area{width:100%;height:auto;transition:.3s;background-color:#fff;border-right:1px solid #dfeaf2}.header{width:100%;padding:10px 20px;background:#fff;border-bottom:1px solid #e5e5e5;display:flex;justify-content:space-between;align-items:center}.header .proposal__name{width:210px}.header .proposal__name-top{font-size:14px;overflow:hidden;text-overflow:ellipsis;font-weight:700;white-space:nowrap;margin-bottom:5px;line-height:100%}.header .proposal__name-bottom{font-size:12px;line-height:100%}.header .gjs-pn-btn{height:35px;width:35px;border-radius:5px}.header .gjs-pn-btn:hover{background:#e5e5e5!important}.header .panel__devices{border-radius:5px;border:1px solid #e5e5e5;background:#eff1f1}.header .panel__devices .gjs-pn-btn{background:0 0;box-shadow:none}.header .panel__devices .gjs-pn-active{background:#272727}.header .panel__devices .gjs-pn-active img{filter:invert(100%)}.header .panel__undo-redo{background-color:transparent}.header .panel__undo-redo .gjs-pn-btn{border:1px solid #e5e5e5;background:#eff1f1}.header .panel__undo-redo .gjs-pn-btn:first-child{margin-right:7px}.header .panel__undo-redo .gjs-pn-btn img{pointer-events:none}.header .proposal__view-fullscreeen{background:unset}.header .proposal__view-fullscreeen .gjs-pn-btn{border:1px solid #e5e5e5;background:#eff1f1;margin-right:20px}.header .proposal__view{display:flex;align-items:center;margin-left:25px;padding-left:25px;position:relative}.header .proposal__view .line{height:60px;width:1px;background:#dfeaf2;position:absolute;left:0;top:50%;transform:translateY(-50%)}#blocks-area{position:relative}#blocks-area .gjs-block-category{border-bottom:none}#blocks-area .gjs-block-category.gjs-hide{display:none}#blocks-area .gjs-block-category.gjs-open .gjs-title{flex-direction:row;justify-content:start;background-color:#fff}#blocks-area .gjs-block-category.gjs-open .gjs-title .gjs-caret-icon{margin-right:10px;visibility:visible}#blocks-area .gjs-block-category .gjs-title{font-size:18px;background-color:#fff;border-bottom:1px solid #dfeaf2;display:flex;flex-direction:row-reverse;justify-content:space-between;align-items:center;line-height:100%;padding:12px 15px}#blocks-area .gjs-block-category .gjs-title:hover .gjs-caret-icon{visibility:visible}#blocks-area .gjs-block-category .gjs-title .gjs-caret-icon{margin-right:0;visibility:hidden}#blocks-area .gjs-block-category .gjs-title .gjs-caret-icon.fa-caret-down:before,#blocks-area .gjs-block-category .gjs-title .gjs-caret-icon.fa-caret-right:before{content:"";background:url(../icons/back.svg);background-size:contain;background-repeat:no-repeat;background-position:center center;display:block;width:12px;height:12px}#blocks-area .gjs-block-category .gjs-title .gjs-caret-icon.fa-caret-right:before{rotate:180deg}#blocks-area .gjs-blocks-cs{background-color:#fff}#blocks-area .gjs-blocks-c{display:grid;grid-template-columns:1fr;padding:10px 10px 0}#blocks-area .gjs-blocks-c .gjs-block{width:100%;padding:0;margin:0;box-shadow:none;border-radius:0;border:none;margin-bottom:10px;aspect-ratio:16/9}#blocks-area .gjs-blocks-no-cat .gjs-blocks-c{display:none}#blocks-area .class{background:red}#blocks-area .class-new{background:red}.gjs__wrapper{width:100%;height:100%}.gjs{width:100%;height:100%;border-radius:4px}.gjs .gjs-editor.gjs-one-bg{background-color:#f8fafc}.gjs-frame-wrapper{display:flex;justify-content:center;padding:40px 40px 0;max-width:100%}.gjs-frame{position:relative;border-radius:4px 4px 0 0;overflow:hidden;box-shadow:0 0 18px 0 rgba(0,0,0,.1);box-shadow:0 .25rem .375rem -.125rem rgba(26,26,26,.2);z-index:10}.proposal__view-exit-fullscreeen{display:none;position:absolute;top:0;left:0;background:#eff1f1;z-index:1000}.proposal__view-exit-fullscreeen .gjs-pn-btn{padding:2px}.proposal__view-exit-fullscreeen .gjs-pn-btn img{width:18px;height:18px}

/*---------------колонка з flex------------------*/
.gjs-sm-sectors{
    width: 300px;
}
.gjs-sm-sector__flex{
    background-color: white;
    border-bottom: none;
}
.gjs-four-color{display: none;}
.gjs-sm-sector__flex .gjs-sm-sector-title{
    display: none;
}
.gjs-sm-sector__flex .gjs-sm-properties{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.gjs-sm-sector__flex .gjs-sm-properties .gjs-sm-property .gjs-sm-label .gjs-sm-icon {
    display: none;
}
.gjs-sm-sector__flex .gjs-sm-properties .gjs-sm-property .gjs-fields .gjs-field{
    background-color: transparent;
}
.gjs-sm-sector__flex .gjs-sm-properties .gjs-sm-property .gjs-fields .gjs-field .gjs-radio-items .gjs-radio-item{
    border: none; border-radius: 5px;
    width: 42.5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gjs-radio-item{
    background-color: white;
    border-radius: 5px;
}
.gjs-sm-sector__flex .gjs-sm-properties .gjs-sm-property .gjs-fields .gjs-field .gjs-radio-items{border: 1px solid #DFEAF2}
.gjs-radio-item input:checked+.gsj-ratio-item-label{
    background-color: rgb(0, 0, 0 / 100%);
}

.gjs-radio-item-label {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

/* Стиль для активного лейбла */
.gjs-radio-item input:checked + .gjs-radio-item-label {
    background-color: rgba(0, 0, 0, 1); /* Непрозорий чорний фон */
    width: 42.5px;
    height: 35px;
    border-radius: 5px;
}

/* Стилі для інпутів радіо */
.gjs-radio-item input[type="radio"] {
    display: none; /* Ховати самі радіо-кнопки */
}